/* General styles */
.home {
  text-align: center;
  background-color: #f7f7f7;
}

.court-container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Default layout for smaller screens */
  gap: 3rem;
  position: relative;
}

.basketball-court {
  width: 100%;
  height: auto;
}

.scoreboard {
  margin-top: 0px;
}

.court-zone {
  cursor: pointer;
}

.court-zone:hover {
  fill: rgba(255, 183, 3, 0.2); /* Highlight on hover */
}

.hover-label {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d05757;
  color: white;
  padding: 15px 25px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.rules-section {
  /* background-color: #f4f4f4; */
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}

.rules-section h2 {
  font-size: 24px;
  color: #d05757;
}

.rules-section p {
  margin-top: 0px;
}

/* Styles for larger screens */
@media screen and (min-width: 768px) {
  .court-container {
    flex-direction: row; /* Side-by-side layout for larger screens */
  }

  .scoreboard {
    margin-top: 0;
  }
}
