.navbar {
  position: relative;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: url("../images/court-color.jpg") no-repeat center center; */
  /* background: linear-gradient(
      rgba(210, 180, 140, 0.7),
      rgba(210, 180, 140, 0.7)
    ),
    url("../images/court-color.jpg") center/cover no-repeat;
  background-size: cover; */
  background-color: tan;
  /*note that the image isn't meant to be strentched like that*/
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar a:hover {
  color: #d05757;
}
