.navbar {
  position: relative;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  align-items: flex-start;
  background-color: tan;
  height: 120px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.navbar a {
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar a:hover {
  color: #d05757;
}

.intro {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  max-width: 350px;
}

.intro p {
  margin: 0;
}

.highlight {
  color: #d05757;
}

.social-icons {
  display: flex;
  gap: 1.5rem;
  margin-left: auto;
  margin-top: 10px;
}

.icon-image {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 20px;
}
